<p id="notice"><%= notice %></p>

<p>
    <strong>Food:</strong>
    <%= @meal.food %>
</p>

<p>
    <strong>Quantity:</strong>
    <%= @meal.quantity %>
</p>

<p>
    <strong>Measure:</strong>
    <%= @meal.measure %>
</p>

<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>